@page "{id:int?}"
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Models;
@using Paging;
@model DictionaryApplication.Pages.UserDictionarySelector.IndexModel

@{
    ViewData["Title"] = "My Dictionaries";
}

<h1>My Dictionaries</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Dictionary
            </th>
            <th>
                Description
            </th>
            <th>
                Studied Language
            </th>
            <th>
                Translation Language
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var dict in Model.UserDictionaries) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => dict.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dict.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dict.StudiedLanguage.LangCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => dict.TranslationLanguage.LangCode)
            </td>
            <td>
                    <a asp-page="./UserDictionaryView/Index" asp-route-pageId="1" asp-route-userDictionaryId="@dict.Id">Go To Words</a>
                    <a asp-page="./Edit" asp-route-id="@dict.Id">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@dict.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
