@page "{id:int?}"
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Models;
@using Paging;
@model DictionaryApplication.Pages.UserDictionarySelector.IndexModel

@{
    ViewData["Title"] = "My Dictionaries";
}

<h1>My Dictionaries</h1>

<p>
    <a class="big-link" asp-page="Create">Create New</a>
</p>
<table class="table" id="dict-table">
    <thead>
        <tr>
            <th>
                <h5>Dictionary Name</h5>
            </th>
            <th>
                <h5>Description</h5>
            </th>
            <th>
                <h5>Languages</h5>
            </th>
            <th>
                <h5>
                    Total Words
                </h5>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dict in Model.UserDictionaries)
        {
            <tr class="table-row-link" onclick="location.href='@Url.Page("./UserDictionaryView/Index", new { pageId = 1, userDictionaryId = dict.UserDictionary.Id })'">
                <td>
                    @Html.DisplayFor(modelItem => dict.UserDictionary.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dict.UserDictionary.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dict.UserDictionary.StudiedLanguage.LangCode)/@Html.DisplayFor(modelItem => dict.UserDictionary.TranslationLanguage.LangCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => dict.TotalLexemes)
                </td>
                <td class="right-td">
                    <a class="small-link" asp-page="./Edit" asp-route-id="@dict.UserDictionary.Id"><span>Edit</span></a>
                    <a class="small-link" asp-page="./Delete" asp-route-id="@dict.UserDictionary.Id"><span>Delete</span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
