@page
@model DictionaryApplication.Pages.UserDictionarySelector.UserDictionaryView.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LexemePair</h4>
    <hr />
    <table>
        <thead>
            <tr>
                <td>Studied Lexeme (@Model.StudiedLang)</td>
                <td>Translations (@Model.TranslationLang)</td>
            </tr>
        </thead>
        <tbody class="table" id="tbbody">
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Lexeme)
                </td>
                <td>
                    @Html.Raw(Model.Translations.Replace("\n", "<br />"))
                </td>
            </tr>
        </tbody>
    </table>
    
    <form method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-userDictionaryId="@Model.UserDictionaryId">Back to List</a>
    </form>
</div>
