@page
@model DictionaryApplication.Pages.UserDictionarySelector.UserDictionaryView.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["CurrentDictionaryName"]</h1>

<p>
    <a asp-page="Create" asp-route-id="@Model.UserDictionaryId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Studied Lexeme
            </th>
            <th>
                Translation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LexemeTranslationPairs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lexeme.Word)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Translation.Word)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-userDictionaryId="@Model.UserDictionaryId"
                   asp-route-lexemeId="@item.LexemeId" asp-route-translationId="@item.TranslationId">Edit</a>
                    <a asp-page="./Delete" asp-route-userDictionaryId="@Model.UserDictionaryId"
                   asp-route-lexemeId="@item.LexemeId" asp-route-translationId="@item.TranslationId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
