@page
@using DictionaryApp.Models;
@using DictionaryApplication.Data;
@model DictionaryApplication.Pages.KnowledgeTest.WrongAnswersSelectionModel
@{
    ViewData["Title"] = "Select words that you consider correct";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="SelectCorrectWords" method="post">
    <label asp-for="IsAnswerChangedToCorrect" class="control-label">Check boxes with words that you consider correct:</label>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lexeme
                </th>
                <th>
                    Correct Translation
                </th>
                <th>
                    Your Answer
                </th>
                <th>
                    Answer is acceptable
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                Model.IsAnswerChangedToCorrect = new List<bool>();
                for (int i = 0; i < Model.FailedLexemes.Count; i++)
                {
                    Model.IsAnswerChangedToCorrect.Add(false);
                    <tr>
                        <td>
                            @Model.FailedLexemes[i].Lexeme
                        </td>
                        <td>
                            @Model.FailedTranslations[i].Lexeme
                        </td>
                        <td>
                            @Model.WrongAnswers[i].Answer
                        </td>
                        <td>
                            <input type="checkbox" asp-for="@Model.IsAnswerChangedToCorrect[i]" />
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>